<p id="notice"><%= notice %></p>

<h1>Listing Accepted Timesheets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @timesheets %>
  </tbody>
</table>

<br>

<%= link_to 'New Accepted timesheet', new_accepted_timesheet_path %>
